# Evaluation of Multi-Agent approach using an orchestrator

In [1]:
import sys
import os
sys.path.append("/Users/i551965/Documents/dev/Uni/LLMsAgents/LLMsAgents-TextToSQL/src/")
sys.path.append("/Users/i551965/Documents/dev/Uni/LLMsAgents/LLMsAgents-TextToSQL/src/agents")
sys.path.append("/Users/i551965/Documents/dev/Uni/LLMsAgents/LLMsAgents-TextToSQL/src/prompt_templates")
from approach_evaluator import ApproachEvaluator
from orchestrator_agent import create_sql_from_natural_text, visualize_graph
visualize_graph()

In [2]:
import pandas as pd

data_dir = os.getenv("DATA_DIRECTORY")
sql_input_file = pd.read_csv("../sample/dev.csv").sample(3)

# Config is just for logging purposes and does not affect the run
run_config = {
    "k_shot_prompting_creator_agent": 2,
    "k_shot_prompting_fixer_agent": 1,
    "k_shot_prompting_feedback_agent": 2,
    "k_shot_prompting_select_relevant_database": 0,
    "k_shot_prompting_select_relevant_tables": 2
}

evaluator = ApproachEvaluator(
    run_config=run_config,
    question_ids=sql_input_file["question_id"],
    approach=create_sql_from_natural_text
)
evaluator.evaluate()

{'query_result': '[(0,)]', 'is_correct': False, 'feedback': "The query did not return any results, indicating there might be an issue with the filtering conditions or field names. The 'OpenDate' field is not recognized, and the 'StatusType' field should be checked for accuracy.", 'updated_query': "SELECT COUNT(*) FROM california_schools WHERE OpenDate BETWEEN '2000-01-01' AND '2005-12-31' AND County = 'Stanislaus' AND StatusType = 'Directly Funded School';"}
{'query_result': '[(0,)]', 'is_correct': False, 'feedback': "The query did not return any results, indicating there might be an issue with the filtering conditions or field names. The 'OpenDate' field is not recognized, and the 'StatusType' field should be checked for accuracy.", 'updated_query': "SELECT COUNT(*) FROM california_schools WHERE OpenDate BETWEEN '2000-01-01' AND '2005-12-31' AND County = 'Stanislaus' AND StatusType = 'Directly Funded School';"}
Orchestrator Agent: An error occurred: 'feedback'
Error with final query: Database with name  not found.
Target query: SELECT COUNT(School) FROM schools WHERE strftime('%Y', OpenDate) BETWEEN '2000' AND '2005' AND County = 'Stanislaus' AND FundingType = 'Directly funded'
Predicted query:
{'query_result': '[]', 'is_correct': False, 'feedback': "The query did not return any results because the condition 'block = 'Masques' AND block = 'Mirage'' is contradictory. It's not possible for a single row to have both 'block' values. You should use 'OR' instead of 'AND' to retrieve sets from either 'Masques' or 'Mirage'.", 'updated_query': "SELECT baseSetSize AS 'Set size', code AS 'Set code' FROM sets WHERE block IN ('Masques', 'Mirage');"}
{'query_result': '[]', 'is_correct': False, 'feedback': "The query did not return any results because the condition 'block = 'Masques' AND block = 'Mirage'' is contradictory. It's not possible for a single row to have both 'block' values. You should use 'OR' instead of 'AND' to retrieve sets from either 'Masques' or 'Mirage'.", 'updated_query': "SELECT baseSetSize AS 'Set size', code AS 'Set code' FROM sets WHERE block IN ('Masques', 'Mirage');"}
{'query_result': '[]', 'is_correct': False, 'feedback': "The query did not return any results because the condition 'block = 'Masques' AND block = 'Mirage'' is contradictory. It's not possible for a single row to have both 'block' values. You should use 'OR' instead of 'AND' to retrieve sets from either 'Masques' or 'Mirage'.", 'updated_query': "SELECT baseSetSize AS 'Set size', code AS 'Set code' FROM sets WHERE block IN ('Masques', 'Mirage');"}
Stopping condition reached: Maximum iterations exceeded
Predicted result: [(350, 'MIR'), (350, 'MMQ'), (143, 'NEM'), (144, 'PCY'), (1, 'PMMQ'), (1, 'PNEM'), (1, 'PPCY'), (167, 'VIS'), (167, 'WTH')], Target result: [(350, 'MMQ'), (144, 'PCY'), (167, 'WTH')]
{'query_result': '[]', 'is_correct': False, 'feedback': "The query did not return any results, but there should be a keyrune code for the set with code 'PKHC'. The issue might be with the syntax of the column names and the table name. Enclose column names with spaces in double quotes. Also, check for case sensitivity.", 'updated_query': 'SELECT "Keyrune Code" FROM postLinks WHERE "Code" = \'PKHC\';'}
{'query_result': '[]', 'is_correct': False, 'feedback': "The query did not return any results, but there should be a keyrune code for the set with code 'PKHC'. The issue might be with the syntax of the column names and the table name. Enclose column names with spaces in double quotes. Also, check for case sensitivity.", 'updated_query': 'SELECT "Keyrune Code" FROM postLinks WHERE "Code" = \'PKHC\';'}
{'query_result': '[]', 'is_correct': False, 'feedback': "The query did not return any results, but there should be a keyrune code for the set with code 'PKHC'. The issue might be with the syntax of the column names and the table name. Enclose column names with spaces in double quotes. Also, check for case sensitivity.", 'updated_query': 'SELECT "Keyrune Code" FROM postLinks WHERE "Code" = \'PKHC\';'}
Stopping condition reached: Maximum iterations exceeded
Error with final query: no such table: sets
Target query: SELECT keyruneCode FROM sets WHERE code = 'PKHC'
Predicted query: SELECT "Column name: LinkTypeId" FROM postLinks WHERE "Column name: PostId" = 'PKHC';

{'question_id': [489, 66, 442],
 'predicted_query': ['',
  'SELECT "baseSetSize", "code" FROM "sets" WHERE "block" = \'Masques\' OR "block" = \'Mirage\';',
  'SELECT "Column name: LinkTypeId" FROM postLinks WHERE "Column name: PostId" = \'PKHC\';'],
 'predicted_database': ['', 'card_games', 'codebase_community'],
 'feedbacks': [[],
  [{'query_result': '[]',
    'is_correct': False,
    'feedback': "The query did not return any results because the condition 'block = 'Masques' AND block = 'Mirage'' is contradictory. It's not possible for a single row to have both 'block' values. You should use 'OR' instead of 'AND' to retrieve sets from either 'Masques' or 'Mirage'.",
    'updated_query': "SELECT baseSetSize AS 'Set size', code AS 'Set code' FROM sets WHERE block IN ('Masques', 'Mirage');"},
   {'query_result': "[(350, 'MIR'), (350, 'MMQ'), (143, 'NEM'), (144, 'PCY'), (1, 'PMMQ'), (1, 'PNEM'), (1, 'PPCY'), (167, 'VIS'), (167, 'WTH')]",
    'is_correct': False,
    'feedback': "The query result includes the base set size and set code, but it is not filtered based on the block names 'Masques' and 'Mirage'. The WHERE clause should be modified to filter the results based on the block names specified in the original question.",
    'updated_query': "SELECT baseSetSize, code FROM sets WHERE block IN ('Masques', 'Mirage');"},
   {'query_result': "[(350, 'MIR'), (350, 'MMQ'), (143, 'NEM'), (144, 'PCY'), (1, 'PMMQ'), (1, 'PNEM'), (1, 'PPCY'), (167, 'VIS'), (167, 'WTH')]",
    'is_correct': False,
    'feedback': "The query did not correctly filter the sets based on both 'Masques' and 'Mirage'. The OR operator is not suitable for this condition as it retrieves sets from either 'Masques' or 'Mirage'. Use the AND operator to filter sets that belong to both 'Masques' and 'Mirage'.",
    'updated_query': "SELECT baseSetSize, code FROM sets WHERE block = 'Masques' AND code IN (SELECT code FROM sets WHERE block = 'Mirage');"},
   {'query_result': "[(350, 'MIR'), (350, 'MMQ'), (143, 'NEM'), (144, 'PCY'), (1, 'PMMQ'), (1, 'PNEM'), (1, 'PPCY'), (167, 'VIS'), (167, 'WTH')]",
    'is_correct': False,
    'feedback': "The query did not correctly filter the sets based on both 'Masques' and 'Mirage'. The OR condition is causing the query to retrieve sets from either 'Masques' or 'Mirage'. It should use an AND condition to retrieve sets that belong to both 'Masques' and 'Mirage'.",
    'updated_query': "SELECT baseSetSize, code FROM sets WHERE block = 'Masques' AND code IN (SELECT code FROM sets WHERE block = 'Mirage');"}],
  [{'query_result': '[]',
    'is_correct': False,
    'feedback': "The query did not return any results, but there should be a keyrune code for the set with code 'PKHC'. The issue might be with the syntax of the column names and the table name. Enclose column names with spaces in double quotes. Also, check for case sensitivity.",
    'updated_query': 'SELECT "Keyrune Code" FROM postLinks WHERE "Code" = \'PKHC\';'},
   {'query_result': '[]',
    'is_correct': False,
    'feedback': "The query did not return any results, but there should be a keyrune code for the set with code 'PKHC'. The issue is with the column names having double quotes which is not standard SQL syntax.",
    'updated_query': "SELECT KeyruneCode FROM postLinks WHERE Code = 'PKHC';"},
   {'query_result': '[]',
    'is_correct': False,
    'feedback': 'The query did not return any results, which indicates there might be an issue with the column names or syntax used in the query. Check the column names and ensure proper quoting.',
    'updated_query': "SELECT Keyrune_Code FROM postLinks WHERE Code = 'PKHC';"},
   {'query_result': '[]',
    'is_correct': False,
    'feedback': 'The query did not return any results, and the syntax of the query seems to be incorrect. The column names should not be enclosed in double quotes. Also, the table name and column names are not related to the original question. Check and correct the table and column names.',
    'updated_query': "SELECT keyrune_code FROM set_table WHERE set_code = 'PKHC';"}]],
 'errors': [[], [], []],
 'is_correct': [[0], [0], [0]]}