# Evaluation of Multi-Agent approach using an orchestrator

In [5]:
import sys
import os
sys.path.append("/Users/i551965/Documents/dev/Uni/LLMsAgents/LLMsAgents-TextToSQL/src/")
sys.path.append("/Users/i551965/Documents/dev/Uni/LLMsAgents/LLMsAgents-TextToSQL/src/agents")
sys.path.append("/Users/i551965/Documents/dev/Uni/LLMsAgents/LLMsAgents-TextToSQL/src/prompt_templates")
from dotenv import load_dotenv

sys.path.insert(0, os.path.abspath("../src"))
print(sys.path)

load_dotenv()
from approach_evaluator import ApproachEvaluator
from orchestrator_agent import create_sql_from_natural_text, visualize_graph
visualize_graph()

['/Users/i551965/Documents/dev/Uni/LLMsAgents/LLMsAgents-TextToSQL/src', '/Users/i551965/Documents/dev/Uni/LLMsAgents/LLMsAgents-TextToSQL/src', '/opt/homebrew/Cellar/python@3.13/3.13.0_1/Frameworks/Python.framework/Versions/3.13/lib/python313.zip', '/opt/homebrew/Cellar/python@3.13/3.13.0_1/Frameworks/Python.framework/Versions/3.13/lib/python3.13', '/opt/homebrew/Cellar/python@3.13/3.13.0_1/Frameworks/Python.framework/Versions/3.13/lib/python3.13/lib-dynload', '', '/Users/i551965/Documents/dev/Uni/LLMsAgents/LLMsAgents-TextToSQL/.venv/lib/python3.13/site-packages', '/Users/i551965/Documents/dev/Uni/LLMsAgents/LLMsAgents-TextToSQL/src/', '/Users/i551965/Documents/dev/Uni/LLMsAgents/LLMsAgents-TextToSQL/src/agents', '/Users/i551965/Documents/dev/Uni/LLMsAgents/LLMsAgents-TextToSQL/src/prompt_templates', '/Users/i551965/Documents/dev/Uni/LLMsAgents/LLMsAgents-TextToSQL/src/', '/Users/i551965/Documents/dev/Uni/LLMsAgents/LLMsAgents-TextToSQL/src/agents', '/Users/i551965/Documents/dev/Uni/LLMsAgents/LLMsAgents-TextToSQL/src/prompt_templates']

In [6]:
import pandas as pd

data_dir = os.getenv("DATA_DIRECTORY")
sql_input_file = pd.read_csv("../sample/dev.csv")

# Config is just for logging purposes and does not affect the run
run_config = {
    "k_shot_prompting_creator_agent": 2,
    "k_shot_prompting_fixer_agent": 1,
    "k_shot_prompting_feedback_agent": 2,
    "k_shot_prompting_select_relevant_database": 0,
    "k_shot_prompting_select_relevant_tables": 2,
    "llm_orchestrator": "gpt4o",
    "llm_fixer": "gpt4o",
    "llm_feedback": "gpt4o",
    "llm_temperature": 0
}

evaluator = ApproachEvaluator(
    run_config=run_config,
    question_ids=sql_input_file["question_id"],
    approach=create_sql_from_natural_text
)
evaluator.evaluate()

{'Natural Language Prompt/ Original Question': 'Among the schools with the average score in Math over 560 in the SAT test, how many schools are directly charter-funded?', 'Syntactically Incorrect SQL Query': "SELECT COUNT(*) FROM schools WHERE AVG(MathScore) > 560 AND FundingType = 'charter';", 'Error Message': 'Error executing query: no such column: FundingType', 'Error Position': "FundingType = 'charter'", 'Specific Error': "FundingType is not a valid column in the 'schools' table.", 'Advise': "Check the schema of the 'schools' table to see if there is a column named 'FundingType'. If not, you may need to join the 'schools' table with another table that contains the funding information or use a different column that represents the funding type."}
Orchestrator Agent: An error occurred: 'feedback'
Error with final query: Database with name  not found.
Target query: SELECT COUNT(T2.`School Code`) FROM satscores AS T1 INNER JOIN frpm AS T2 ON T1.cds = T2.CDSCode WHERE T1.AvgScrMath > 560 AND T2.`Charter Funding Type` = 'Directly funded'
Predicted query:
{'query_result': "([('Column name: Percent (%) Eligible Free (K-12)',), ('Column name: Percent (%) Eligible Free (K-12)',)], 0.001009583007544279)", 'is_correct': False, 'feedback': "The query did not return the correct results. There are issues with the filtering and ordering of the query. The 'Enrollment (K-12)' field is not correctly filtered, and the ordering by 'Percent (%) Eligible Free (K-12)' may not be accurate for the 10th and 11th schools with the highest enrollment. Additionally, the join condition between 'schools' and 'frpm' tables is missing.", 'updated_query': "SELECT 'Column name: Percent (%) Eligible Free (K-12)' FROM schools INNER JOIN frpm ON schools.CDSCode = frpm.CDSCode WHERE 'Enrollment (K-12)' IN (SELECT 'Enrollment (K-12)' FROM schools ORDER BY 'Enrollment (K-12)' DESC LIMIT 11, 2) ORDER BY 'Percent (%) Eligible Free (K-12)' DESC;"}
JSON Parser failed : Unterminated string starting at: line 2 column 21 (char 22)
{'query_result': "([('Column name: Percent (%) Eligible Free (K-12)',), ('Column name: Percent (%) Eligible Free (K-12)',)], 0.001009583007544279)", 'is_correct': False, 'feedback': "The query did not return the correct results. There are issues with the filtering and ordering of the query. The 'Enrollment (K-12)' field is not correctly filtered, and the ordering by 'Percent (%) Eligible Free (K-12)' may not be accurate for the 10th and 11th schools with the highest enrollment. Additionally, the join condition between 'schools' and 'frpm' tables is missing.", 'updated_query': "SELECT 'Column name: Percent (%) Eligible Free (K-12)' FROM schools INNER JOIN frpm ON schools.CDSCode = frpm.CDSCode WHERE 'Enrollment (K-12)' IN (SELECT 'Enrollment (K-12)' FROM schools ORDER BY 'Enrollment (K-12)' DESC LIMIT 11, 2) ORDER BY 'Percent (%) Eligible Free (K-12)' DESC;"}
{'query_result': "([('Column name: Percent (%) Eligible Free (K-12)',), ('Column name: Percent (%) Eligible Free (K-12)',)], 0.001009583007544279)", 'is_correct': False, 'feedback': "The query did not return the correct results. There are issues with the filtering and ordering of the query. The 'Enrollment (K-12)' field is not correctly filtered, and the ordering by 'Percent (%) Eligible Free (K-12)' may not be accurate for the 10th and 11th schools with the highest enrollment. Additionally, the join condition between 'schools' and 'frpm' tables is missing.", 'updated_query': "SELECT 'Column name: Percent (%) Eligible Free (K-12)' FROM schools INNER JOIN frpm ON schools.CDSCode = frpm.CDSCode WHERE 'Enrollment (K-12)' IN (SELECT 'Enrollment (K-12)' FROM schools ORDER BY 'Enrollment (K-12)' DESC LIMIT 11, 2) ORDER BY 'Percent (%) Eligible Free (K-12)' DESC;"}
Orchestrator Agent: An error occurred: 'feedback'
Error with final query: Database with name  not found.
Target query: SELECT CAST(`Free Meal Count (K-12)` AS REAL) / `Enrollment (K-12)` FROM frpm ORDER BY `Enrollment (K-12)` DESC LIMIT 9, 2
Predicted query:
{'query_result': '([(None,)], 0.0006591249839402735)', 'is_correct': False, 'feedback': "The query did not return the expected result. There seems to be a syntax error in the query with the double quotes around column names. Additionally, the 'FRPM Count (Ages 5-17)' column name should be corrected. It is also important to filter by the 'Student Type' to only include students.", 'updated_query': "SELECT AVG(FRPM_Count_Ages_5_17) FROM frpm WHERE School_Name = 'Kacey Gibson' AND Low_Grade = 5 AND High_Grade = 17 AND Student_Type = 'Student';"}
{'query_result': '([(None,)], 0.0006591249839402735)', 'is_correct': False, 'feedback': "The query did not return the expected result. There seems to be a syntax error in the query with the double quotes around column names. Additionally, the 'FRPM Count (Ages 5-17)' column name should be corrected. It is also important to filter by the 'Student Type' to only include students.", 'updated_query': "SELECT AVG(FRPM_Count_Ages_5_17) FROM frpm WHERE School_Name = 'Kacey Gibson' AND Low_Grade = 5 AND High_Grade = 17 AND Student_Type = 'Student';"}
{'query_result': '([(None,)], 0.0006591249839402735)', 'is_correct': False, 'feedback': "The query did not return the expected result. There seems to be a syntax error in the query with the double quotes around column names. Additionally, the 'FRPM Count (Ages 5-17)' column name should be corrected. It is also important to filter by the 'Student Type' to only include students.", 'updated_query': "SELECT AVG(FRPM_Count_Ages_5_17) FROM frpm WHERE School_Name = 'Kacey Gibson' AND Low_Grade = 5 AND High_Grade = 17 AND Student_Type = 'Student';"}
Stopping condition reached: Maximum iterations exceeded
Error with final query: no such column: schools.Column name: School Name
Target query: SELECT CAST(T2.`Free Meal Count (Ages 5-17)` AS REAL) / T2.`Enrollment (Ages 5-17)` FROM schools AS T1 INNER JOIN frpm AS T2 ON T1.CDSCode = T2.CDSCode WHERE T1.AdmFName1 = 'Kacey' AND T1.AdmLName1 = 'Gibson'
Predicted query: SELECT AVG("FRPM Count (Ages 5-17)") FROM schools, frpm WHERE schools."Column name: School Name" = "Kacey Gibson" AND frpm."Column name: School Name" = "Kacey Gibson" AND schools."Column name: Charter" = "No" AND schools."Column name: CharterNum" = "None" AND frpm."Column name: Charter School (Y/N)" = "N" AND frpm."Column name: Charter Funding Type" = "None" AND schools."Column name: Charter" = "No" AND schools."Column name: CharterNum" = "None" AND frpm."Column name: Charter School (Y/N)" = "N" AND frpm."Column name: Charter Funding Type" = "None" AND frpm."Column name: Student Type" = "Student" AND frpm."Column name: Low Grade" = 5 AND frpm."Column name: High Grade" = 17 AND frpm."Column name: Percent (%) Eligible FRPM (Ages 5-17)" = 0 AND frpm."Column name:  Percent (%) Eligible Free (Ages 5-17)" = 0;
{'query_result': '([(273,)], 0.002610041992738843)', 'is_correct': False, 'feedback': "The query did not return the correct result. The issue lies in the WHERE clause where 'MailCity' should be enclosed in double quotes instead of single quotes. Additionally, the table name 'schools' should be 'california_schools' based on the provided database name.", 'updated_query': 'SELECT COUNT(*) FROM california_schools WHERE "MailCity" = \'Fresno\';'}
{'query_result': '([(273,)], 0.002610041992738843)', 'is_correct': False, 'feedback': "The query did not return the correct result. The issue lies in the WHERE clause where 'MailCity' should be enclosed in double quotes instead of single quotes. Additionally, the table name 'schools' should be 'california_schools' based on the provided database name.", 'updated_query': 'SELECT COUNT(*) FROM california_schools WHERE "MailCity" = \'Fresno\';'}
Orchestrator Agent: An error occurred: 'feedback'
Error with final query: Database with name  not found.
Target query: SELECT T1.NumTstTakr FROM satscores AS T1 INNER JOIN schools AS T2 ON T1.cds = T2.CDSCode WHERE T2.MailCity = 'Fresno'
Predicted query:
Predicted result: [('Fairview Middle', '93926-0238')], Target result: [('Fairview Middle', '93926-0238')]
{'query_result': '([(0,)], 0.004584750015055761)', 'is_correct': False, 'feedback': "The query did not return the expected result. There might be issues with the date format in the 'OpenDate' field and the use of double quotes instead of single quotes for column names. Additionally, the 'FundingType' condition may need to be adjusted to capture all directly funded schools.", 'updated_query': "SELECT COUNT(*) FROM schools WHERE OpenDate BETWEEN '2000-01-01' AND '2005-12-31' AND County = 'Stanislaus' AND FundingType LIKE '%Directly Funded%';"}
{'query_result': '([(0,)], 0.004584750015055761)', 'is_correct': False, 'feedback': "The query did not return the expected result. There might be issues with the date format in the 'OpenDate' field and the use of double quotes instead of single quotes for column names. Additionally, the 'FundingType' condition may need to be adjusted to capture all directly funded schools.", 'updated_query': "SELECT COUNT(*) FROM schools WHERE OpenDate BETWEEN '2000-01-01' AND '2005-12-31' AND County = 'Stanislaus' AND FundingType LIKE '%Directly Funded%';"}
{'query_result': '([(0,)], 0.004584750015055761)', 'is_correct': False, 'feedback': "The query did not return the expected result. There might be issues with the date format in the 'OpenDate' field and the use of double quotes instead of single quotes for column names. Additionally, the 'FundingType' condition may need to be adjusted to capture all directly funded schools.", 'updated_query': "SELECT COUNT(*) FROM schools WHERE OpenDate BETWEEN '2000-01-01' AND '2005-12-31' AND County = 'Stanislaus' AND FundingType LIKE '%Directly Funded%';"}
Stopping condition reached: Maximum iterations exceeded
Predicted result: [(0,)], Target result: [(7,)]
{'query_result': '([], 0.09492354199755937)', 'is_correct': False, 'feedback': 'The query did not return any results, which indicates an issue with the filtering conditions. The subquery might not be correctly retrieving the client_id based on the loan amount and date. Additionally, there is a syntax error with the double quotes around column names. It should be single quotes. Consider revising the subquery to ensure the correct client_id is selected.', 'updated_query': "SELECT birth_date FROM client WHERE client_id IN (SELECT client_id FROM loan WHERE amount = 98832 AND date = '1996-01-03')"}
{'query_result': '([], 0.09492354199755937)', 'is_correct': False, 'feedback': 'The query did not return any results, which indicates an issue with the filtering conditions. The subquery might not be correctly retrieving the client_id based on the loan amount and date. Additionally, there is a syntax error with the double quotes around column names. It should be single quotes. Consider revising the subquery to ensure the correct client_id is selected.', 'updated_query': "SELECT birth_date FROM client WHERE client_id IN (SELECT client_id FROM loan WHERE amount = 98832 AND date = '1996-01-03')"}
Orchestrator Agent: An error occurred: Error code: 400 - {'error': {'message': "This model's maximum context length is 16385 tokens. However, your messages resulted in 49149 tokens. Please reduce the length of the messages.", 'type': 'invalid_request_error', 'param': 'messages', 'code': 'context_length_exceeded'}}
Error with final query: Database with name  not found.
Target query: SELECT T4.birth_date FROM loan AS T1 INNER JOIN account AS T2 ON T1.account_id = T2.account_id INNER JOIN disp AS T3 ON T2.account_id = T3.account_id INNER JOIN client AS T4 ON T3.client_id = T4.client_id WHERE T1.date = '1996-01-03' AND T1.amount = 98832
Predicted query:
JSON Parser failed : Invalid control character at: line 5 column 39 (char 465)
Orchestrator Agent: An error occurred: list index out of range
Error with final query: Database with name  not found.
Target query: SELECT AVG(T1.A15) FROM district AS T1 INNER JOIN account AS T2 ON T1.district_id = T2.district_id WHERE STRFTIME('%Y', T2.date) >= '1997' AND T1.A15 > 4000
Predicted query:
{'query_result': '([], 0.036941375001333654)', 'is_correct': False, 'feedback': "The query did not return any results, which indicates there might be issues with the syntax and filtering. The 'amount' field should be selected, and the comparison operators should be used correctly.", 'updated_query': "SELECT amount FROM trans WHERE account_id = 3356 AND type = 'Cash Withdrawal';"}
{'query_result': '([], 0.036941375001333654)', 'is_correct': False, 'feedback': "The query did not return any results, which indicates there might be issues with the syntax and filtering. The 'amount' field should be selected, and the comparison operators should be used correctly.", 'updated_query': "SELECT amount FROM trans WHERE account_id = 3356 AND type = 'Cash Withdrawal';"}
{'query_result': '([], 0.036941375001333654)', 'is_correct': False, 'feedback': "The query did not return any results, which indicates there might be issues with the syntax and filtering. The 'amount' field should be selected, and the comparison operators should be used correctly.", 'updated_query': "SELECT amount FROM trans WHERE account_id = 3356 AND type = 'Cash Withdrawal';"}
Stopping condition reached: Maximum iterations exceeded
Predicted result: [], Target result: [(816173,), (816174,), (816175,), (816181,), (816185,), (816186,), (816187,), (816188,), (816189,), (816190,), (816191,), (816192,), (816193,), (816194,), (816195,), (816196,), (816203,), (816216,), (816217,), (816218,), (816219,), (816220,), (816221,), (816222,), (816223,), (816224,), (816225,), (816226,), (816227,), (816228,), (816229,), (816230,), (816231,), (816232,), (816233,), (816234,), (816235,), (816236,), (816237,), (816238,), (816239,), (816240,), (816241,), (816242,), (816243,), (816244,), (816245,), (816246,), (816247,), (816248,), (816249,), (816250,), (816251,), (816252,), (816253,), (816254,), (816255,), (816256,), (816257,), (816258,), (816259,), (816260,), (816261,), (816262,), (816263,), (816264,), (816265,), (816266,), (816267,), (816268,), (816269,), (816270,), (816271,), (816272,), (816273,), (816274,), (816275,), (816276,), (816278,), (816279,), (816280,), (816281,), (816282,), (816283,), (816284,), (816285,), (816286,), (816288,), (816289,), (816290,), (816291,), (816292,), (816293,), (816294,), (816295,), (816296,), (816297,), (816298,), (816299,), (816300,), (816301,), (816302,), (816303,), (816304,), (816305,), (816306,), (816307,), (816308,), (816309,), (816310,), (816311,), (816312,), (816313,), (816314,), (816315,), (816316,), (816317,), (816318,), (816319,), (816320,), (816321,), (816322,), (816324,), (816325,), (816326,), (816327,), (816328,), (816329,), (816330,), (816331,), (816332,), (816333,), (816334,), (816335,), (816336,), (816337,), (816338,), (816340,), (816341,), (816342,)]
JSON Parser failed : Invalid control character at: line 5 column 47 (char 416)
Orchestrator Agent: An error occurred: list index out of range
Error with final query: Database with name  not found.
Target query: SELECT AVG(T2.amount) FROM account AS T1 INNER JOIN loan AS T2 ON T1.account_id = T2.account_id WHERE T2.status IN ('C', 'D') AND T1.frequency = 'POPLATEK PO OBRATU'
Predicted query:
{'query_result': '([(0,)], 0.0007738339772913605)', 'is_correct': False, 'feedback': "The query result shows 0 triple type bonds, which seems incorrect. The query may not be filtering the 'bond_type' correctly. Check if the 'bond_type' values are consistent in the database.", 'updated_query': "SELECT COUNT(bond_id) FROM bond WHERE bond_strength = 'triple';"}
{'query_result': '([(0,)], 0.0007738339772913605)', 'is_correct': False, 'feedback': "The query result shows 0 triple type bonds, which seems incorrect. The query may not be filtering the 'bond_type' correctly. Check if the 'bond_type' values are consistent in the database.", 'updated_query': "SELECT COUNT(bond_id) FROM bond WHERE bond_strength = 'triple';"}
{'query_result': '([(0,)], 0.0007738339772913605)', 'is_correct': False, 'feedback': "The query result shows 0 triple type bonds, which seems incorrect. The query may not be filtering the 'bond_type' correctly. Check if the 'bond_type' values are consistent in the database.", 'updated_query': "SELECT COUNT(bond_id) FROM bond WHERE bond_strength = 'triple';"}
Stopping condition reached: Maximum iterations exceeded
Predicted result: [(0,)], Target result: [(6,)]
{'query_result': '([(0,)], 2.8834008844569325e-05)', 'is_correct': False, 'feedback': "The query did not return the expected result. The query is counting the total number of molecules labeled as 'carcinogenic' within the first 100 molecule IDs, not specifically how many of the first 100 molecules are carcinogenic. To answer the original question, the query should count the number of carcinogenic molecules among the first 100 in number order.", 'updated_query': "SELECT COUNT(molecule_id) FROM molecule WHERE molecule_id <= 100 AND molecule_id IN (SELECT molecule_id FROM molecule WHERE label = 'carcinogenic');"}
{'query_result': '([(0,)], 2.8834008844569325e-05)', 'is_correct': False, 'feedback': "The query did not return the expected result. The query is counting the total number of molecules labeled as 'carcinogenic' within the first 100 molecule IDs, not specifically how many of the first 100 molecules are carcinogenic. To answer the original question, the query should count the number of carcinogenic molecules among the first 100 in number order.", 'updated_query': "SELECT COUNT(molecule_id) FROM molecule WHERE molecule_id <= 100 AND molecule_id IN (SELECT molecule_id FROM molecule WHERE label = 'carcinogenic');"}
{'query_result': '([(0,)], 2.8834008844569325e-05)', 'is_correct': False, 'feedback': "The query did not return the expected result. The query is counting the total number of molecules labeled as 'carcinogenic' within the first 100 molecule IDs, not specifically how many of the first 100 molecules are carcinogenic. To answer the original question, the query should count the number of carcinogenic molecules among the first 100 in number order.", 'updated_query': "SELECT COUNT(molecule_id) FROM molecule WHERE molecule_id <= 100 AND molecule_id IN (SELECT molecule_id FROM molecule WHERE label = 'carcinogenic');"}
Stopping condition reached: Maximum iterations exceeded
Predicted result: [(0,)], Target result: [(29,)]
{'query_result': '([(0.0,)], 0.00012658300693146884)', 'is_correct': False, 'feedback': "The query did not return the correct result. There seems to be a syntax error in the query where 'label' and 'molecule_id' are not properly escaped. Additionally, the logic for calculating the percentage of carcinogenic molecules needs to be revised.", 'updated_query': 'SELECT ROUND((SUM(CASE WHEN "label" = \'carcinogenic\' THEN 1 ELSE 0 END) * 100.0 / COUNT("molecule_id")), 3) AS percentage_carcinogenic FROM molecule;'}
{'query_result': '([(0.0,)], 0.00012658300693146884)', 'is_correct': False, 'feedback': "The query did not return the correct result. There seems to be a syntax error in the query where 'label' and 'molecule_id' are not properly escaped. Additionally, the logic for calculating the percentage of carcinogenic molecules needs to be revised.", 'updated_query': 'SELECT ROUND((SUM(CASE WHEN "label" = \'carcinogenic\' THEN 1 ELSE 0 END) * 100.0 / COUNT("molecule_id")), 3) AS percentage_carcinogenic FROM molecule;'}
{'query_result': '([(0.0,)], 0.00012658300693146884)', 'is_correct': False, 'feedback': "The query did not return the correct result. There seems to be a syntax error in the query where 'label' and 'molecule_id' are not properly escaped. Additionally, the logic for calculating the percentage of carcinogenic molecules needs to be revised.", 'updated_query': 'SELECT ROUND((SUM(CASE WHEN "label" = \'carcinogenic\' THEN 1 ELSE 0 END) * 100.0 / COUNT("molecule_id")), 3) AS percentage_carcinogenic FROM molecule;'}

{'question_id': [479,
  1057,
  1367,
  298,
  651,
  1145,
  1165,
  494,
  1126,
  1292,
  9,
  152,
  1254,
  609,
  823,
  467,
  489,
  1133,
  535,
  1019,
  1154,
  54,
  53,
  34,
  904,
  542,
  1341,
  279,
  491,
  1314,
  1161,
  268,
  841,
  1102,
  847,
  1300,
  1120,
  1441,
  920,
  648,
  113,
  686,
  1405,
  883,
  789,
  347,
  1211,
  1115,
  1045,
  227,
  1379,
  717,
  1495,
  1131,
  1124,
  692,
  1459,
  452,
  916,
  66,
  442,
  427,
  1044,
  549,
  1386,
  938,
  1357,
  477,
  713,
  1458,
  784,
  342,
  204,
  458,
  615,
  295,
  414,
  1236,
  935,
  776,
  817,
  353,
  1062,
  1501,
  159,
  435,
  892,
  748,
  192,
  678,
  1224,
  1177,
  31,
  512,
  202,
  1226,
  893,
  579,
  879,
  948],
 'predicted_query': ['',
  '',
  'SELECT AVG("FRPM Count (Ages 5-17)") FROM schools, frpm WHERE schools."Column name: School Name" = "Kacey Gibson" AND frpm."Column name: School Name" = "Kacey Gibson" AND schools."Column name: Charter" = "No" AND schools."Column name: CharterNum" = "None" AND frpm."Column name: Charter School (Y/N)" = "N" AND frpm."Column name: Charter Funding Type" = "None" AND schools."Column name: Charter" = "No" AND schools."Column name: CharterNum" = "None" AND frpm."Column name: Charter School (Y/N)" = "N" AND frpm."Column name: Charter Funding Type" = "None" AND frpm."Column name: Student Type" = "Student" AND frpm."Column name: Low Grade" = 5 AND frpm."Column name: High Grade" = 17 AND frpm."Column name: Percent (%) Eligible FRPM (Ages 5-17)" = 0 AND frpm."Column name:  Percent (%) Eligible Free (Ages 5-17)" = 0;',
  '',
  'SELECT "School", "MailZip" FROM schools WHERE "AdmFName1" = \'Avetik\' AND "AdmLName1" = \'Atoian\';',
  "SELECT COUNT(*) FROM schools WHERE `County` = 'Stanislaus' AND `OpenDate` BETWEEN '1/1/2000' AND '12/31/2005' AND `FundingType` LIKE '%Directly Funded%';",
  '',
  '',
  "SELECT amount FROM trans WHERE trans.account_id = '3356' AND trans.type = 'withdrawal' AND trans.operation = 'cash';",
  '',
  "SELECT COUNT(*) FROM bond WHERE bond_type = 'triple';",
  "SELECT COUNT(*) FROM molecule WHERE label = 'carcinogenic' AND molecule_id <= 100;",
  'SELECT \n            ROUND(100.0 * (SUM("label" = \'carcinogenic\') / COUNT("molecule_id")), 3) AS "Carcinogenic Percentage" \n        FROM \n            molecule\n        WHERE \n            "label" = \'carcinogenic\'',
  'SELECT * FROM trans WHERE "trans_id" = \'TR001_10_11\';',
  "'SELECT `Column name: k_symbol` FROM `trans` WHERE `Column name: trans_id` = 'TR001_10_11';",
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  'SELECT "baseSetSize", "code" FROM "sets" WHERE "block" = \'Masques\' OR "block" = \'Mirage\';',
  '',
  'SELECT COUNT("cards"."artist") FROM "cards" WHERE "cards"."borderColor" = \'black\' AND "cards"."availability" LIKE \'%arena%\' AND "cards"."availability" LIKE \'%mtgo%\';',
  '',
  '',
  'SELECT COUNT(*) \n        FROM cards \n        WHERE "convertedManaCost" > 5 AND "power" = \'nan\' AND "setCode" = \'CSP\'',
  '',
  '',
  '',
  "SELECT COUNT(*) FROM cards WHERE duelDeck = 'A' AND power = 'Unknown' AND hasFoil = 'false';",
  'SELECT COUNT(*) FROM users JOIN votes ON users.Id = votes.UserId WHERE users.UpVotes > 100 AND users.DownVotes > 1;',
  'SELECT SUM("CommentCount") FROM posts WHERE "OwnerUserId" = (SELECT "Id" FROM users WHERE "DisplayName" = \'csgillespie\');',
  '',
  '',
  'SELECT COUNT(*) FROM posts WHERE Score = 10;',
  '',
  '',
  '',
  'SELECT posts.Id, posts.Title\n        FROM posts\n        INNER JOIN users ON posts.OwnerUserId = users.Id\n        WHERE posts.PostTypeId = 1\n        ORDER BY posts.ViewCount DESC\n        LIMIT 1;',
  '',
  '',
  "SELECT COUNT(*) FROM votes LEFT JOIN comments ON votes.UserId = comments.UserId WHERE comments.Text = 'R is also lazy evaluated.' AND votes.VoteTypeId = 2;",
  '',
  '',
  "SELECT superhero.superhero_name, race.race FROM superhero JOIN race ON superhero.race_id = race.id WHERE superhero.full_name = 'Charles Chandler';",
  '',
  '',
  'SELECT "race"."race" FROM "superhero" \n        INNER JOIN "colour" ON "superhero"."eye_colour_id" = "colour"."id" AND "superhero"."hair_colour_id" = "colour"."id" AND "superhero"."skin_colour_id" = "colour"."id" \n        INNER JOIN "race" ON "superhero"."race_id" = "race"."id" \n        INNER JOIN "gender" ON "superhero"."gender_id" = "gender"."id" \n        WHERE "colour"."colour" = \'blue\' AND "gender"."gender" = \'male\'',
  'SELECT COUNT(*) FROM superhero WHERE "gender_id" = (SELECT "id" FROM gender WHERE "gender" = \'female\') AND "publisher_id" = (SELECT "id" FROM publisher WHERE "publisher_name" = \'Marvel Comics\');',
  'SELECT superhero.weight_kg, race.race \n        FROM superhero \n        INNER JOIN race ON superhero.race_id = race.id\n        WHERE superhero.id = 40;',
  'SELECT drivers.surname\n        FROM drivers\n        JOIN qualifying\n        ON drivers.driverId = qualifying.driverId\n        WHERE qualifying.raceId = 19 AND qualifying.position = 1 AND qualifying.q2 IS NOT NULL\n        ORDER BY qualifying.q2 ASC;',
  'SELECT nationality\n        FROM drivers\n        INNER JOIN lapTimes ON drivers.driverId = lapTimes.driverId\n        WHERE lapTimes.position = 1\n        ORDER BY lapTimes.milliseconds ASC\n        LIMIT 1;',
  '',
  'SELECT drivers.forename || \' \' || drivers.surname AS "Full Name", driverStandings.points AS "Points Scored"\n        FROM drivers\n        INNER JOIN driverStandings ON drivers.driverId = driverStandings.driverId\n        ORDER BY driverStandings.points DESC LIMIT 1;',
  'SELECT d."forename", d."surname", ds."points" \nFROM driverStandings AS ds\nJOIN drivers AS d ON ds."driverId" = d."driverId"\nJOIN races AS r ON r."raceId" = ds."raceId"\nWHERE r."name" = \'Chinese Grand Prix\' AND r."year" = 2017\nORDER BY ds."points" DESC\nLIMIT 3;',
  'SELECT races."name" AS "Race", races."year" AS "Year" \n        FROM lapTimes\n        JOIN drivers ON lapTimes."driverId" = drivers."driverId"\n        JOIN races ON races."raceId" = lapTimes."raceId"\n        WHERE UPPER(drivers."forename" || \' \' || drivers."surname") = UPPER(\'Michael Schumacher\')\n        ORDER BY races."year" DESC, races."name" DESC LIMIT 1;',
  "SELECT surname FROM drivers WHERE nationality = 'Italian';",
  'SELECT DISTINCT "year" FROM "races" WHERE "circuitId" = (SELECT "circuitId" FROM "circuits" WHERE "name" = \'Silverstone Circuit\');',
  'SELECT COUNT("drivers"."driverId") \n        FROM "drivers" \n        INNER JOIN "results" ON "drivers"."driverId" = "results"."driverId" \n        INNER JOIN "races" ON "results"."raceId" = "races"."raceId" \n        WHERE "races"."year" = 2008 \n        AND "races"."name" = "Australian Grand Prix" \n        AND "results"."statusId" IS NOT NULL;',
  '',
  "SELECT MAX(points) FROM constructors AS c JOIN constructorStandings AS cs ON c.constructorId = cs.constructorId WHERE nationality = 'British' AND raceId = cs.raceId;",
  '',
  '',
  '',
  '',
  'SELECT "Player".player_name\n        FROM "Player_Attributes"\n        INNER JOIN "Player" ON "Player".id = "Player_Attributes".player_api_id\n        WHERE "Player_Attributes".overall_rating > 80\n        AND "Player_Attributes".date BETWEEN \'2008-01-01\' AND \'2010-12-31\';',
  "SELECT Player.player_name FROM Player JOIN Player_Attributes ON Player.player_api_id = Player_Attributes.player_api_id WHERE Player_Attributes.overall_rating = 77 AND Player_Attributes.date = '2016-06-23' ORDER BY Player.birthday DESC LIMIT 1;",
  '',
  'SELECT SUM(away_team_goal) AS "Sum of Away Team Goals" FROM Match\n        WHERE (home_player_1 = (SELECT player_api_id FROM Player WHERE player_name = \'Daan Smith\') OR home_player_2 = (SELECT player_api_id FROM Player WHERE player_name = \'Daan Smith\') OR home_player_3 = (SELECT player_api_id FROM Player WHERE player_name = \'Daan Smith\') OR home_player_4 = (SELECT player_api_id FROM Player WHERE player_name = \'Daan Smith\') OR home_player_5 = (SELECT player_api_id FROM Player WHERE player_name = \'Daan Smith\') OR home_player_6 = (SELECT player_api_id FROM Player WHERE player_name = \'Daan Smith\') OR home_player_7 = (SELECT player_api_id FROM Player WHERE player_name = \'Daan Smith\') OR home_player_8 = (SELECT player_api_id FROM Player WHERE player_name = \'Daan Smith\') OR home_player_9 = (SELECT player_api_id FROM Player WHERE player_name = \'Daan Smith\') OR home_player_10 = (SELECT player_api_id FROM Player WHERE player_name = \'Daan Smith\') OR home_player_11 = (SELECT player_api_id FROM Player WHERE',
  '',
  '',
  '',
  'SELECT COUNT(*) FROM Player WHERE "player_name" LIKE "Aaron%" AND SUBSTR("birthday", 1, 4) > 1990;',
  '',
  'SELECT p.SEX, p.Birthday, e."Examination Date", e.Symptoms\n        FROM Patient p\n        JOIN Examination e ON p.ID = e.ID\n        WHERE p.ID = \'163109\' AND e.ID = \'163109\';',
  '',
  'SELECT MAX(STRFTIME(\'%Y\', "First Date")) - MIN(STRFTIME(\'%Y\', "Birthday")) AS "Age Gap" FROM Patient WHERE "ID" IN (SELECT "ID" FROM Examination WHERE "Triglyceride" = \'normal\')',
  '',
  '',
  '',
  'SELECT p."ID", e."aCL IgG" as "T-CHO index"\n        FROM Patient p\n        JOIN Examination e ON p."ID" = e."ID"\n        WHERE p."Birthday" = (\n            SELECT MIN("Birthday")\n            FROM Patient\n        )\n        AND e."aCL IgG" = (\n            SELECT MAX("aCL IgG")\n            FROM Examination\n        );',
  '',
  'SELECT COUNT(Patient."ID") FROM Patient INNER JOIN Examination ON Patient."ID" = Examination."ID" WHERE Examination."Examination Date" >= \'1990/1/1\' AND Examination."aCL IgA" >= 0.0 AND Examination."aCL IgA" <= 20.0;',
  '',
  '',
  'SELECT CONCAT(member.first_name, \' \', member.last_name) AS "Full Name" FROM member INNER JOIN major ON member.link_to_major = major.major_id WHERE major.department = \'Art and Design\' AND member.position = \'Student\' AND member.email LIKE \'%@%\' ORDER BY last_name;',
  'SELECT "bank_to" || "account_to" FROM "order" WHERE "k_symbol" = \'Spring Budget Review\';',
  'SELECT "date" FROM trans WHERE "account_id" = (SELECT "account_id" FROM client WHERE "client_id" = (SELECT "client_id" FROM client WHERE "birth_date" = \'Connor Hilton\')) AND "type" = \'DUES\';',
  '',
  "SELECT COUNT(*) FROM trans WHERE date BETWEEN '2020-01-01' AND '2020-12-31' AND k_symbol = 'meeting event';",
  '',
  'SELECT "Column name: type", SUM("Column name: amount") AS "Column name: amount" FROM "trans" WHERE "Column name: k_symbol" = \'April Speaker\' GROUP BY "Column name: type" ORDER BY SUM("Column name: amount") ASC;',
  'SELECT COUNT(m."member_id") AS "number of members" FROM member AS m INNER JOIN major AS ma ON m."link_to_major" = ma."major_id" WHERE (ma."major_name" = "education" AND ma."college" = "College of Education & Human Services")',
  '',
  "SELECT major.major_name, major.department\n        FROM major\n        INNER JOIN member ON member.link_to_major = major.major_id\n        WHERE member.first_name = 'Garrett' AND member.last_name = 'Gerke';",
  '',
  ''],
 'predicted_database': ['',
  '',
  'california_schools',
  '',
  'california_schools',
  'california_schools',
  '',
  '',
  'financial',
  '',
  'toxicology',
  'toxicology',
  'toxicology',
  'financial',
  'financial',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  'card_games',
  '',
  'card_games',
  '',
  '',
  'card_games',
  '',
  '',
  '',
  'card_games',
  'codebase_community',
  'codebase_community',
  '',
  '',
  'codebase_community',
  '',
  '',
  '',
  'codebase_community',
  '',
  '',
  'codebase_community',
  '',
  '',
  'superhero',
  '',
  '',
  'superhero',
  'superhero',
  'superhero',
  'formula_1',
  'formula_1',
  '',
  'formula_1',
  'formula_1',
  'formula_1',
  'formula_1',
  'formula_1',
  'formula_1',
  '',
  'formula_1',
  '',
  '',
  '',
  '',
  'european_football_2',
  'european_football_2',
  '',
  'european_football_2',
  '',
  '',
  '',
  'european_football_2',
  '',
  'thrombosis_prediction',
  '',
  'thrombosis_prediction',
  '',
  '',
  '',
  'thrombosis_prediction',
  '',
  'thrombosis_prediction',
  '',
  '',
  'student_club',
  'financial',
  'financial',
  '',
  'financial',
  '',
  'financial',
  'student_club',
  '',
  'student_club',
  '',
  ''],
 'feedbacks': [[],
  [],
  [{'query_result': '([(None,)], 0.0006591249839402735)',
    'is_correct': False,
    'feedback': "The query did not return the expected result. There seems to be a syntax error in the query with the double quotes around column names. Additionally, the 'FRPM Count (Ages 5-17)' column name should be corrected. It is also important to filter by the 'Student Type' to only include students.",
    'updated_query': "SELECT AVG(FRPM_Count_Ages_5_17) FROM frpm WHERE School_Name = 'Kacey Gibson' AND Low_Grade = 5 AND High_Grade = 17 AND Student_Type = 'Student';"},
   {'query_result': '([(None,)], 0.0012362079869490117)',
    'is_correct': False,
    'feedback': "The query did not return the expected result. There seems to be an issue with the aggregation function and the filtering conditions. The 'Student Type' field is not properly used for filtering. Also, the aggregation function is not correctly specified.",
    'updated_query': "SELECT AVG(frpm.'FRPM Count (Ages 5-17)') FROM frpm INNER JOIN schools ON frpm.'CDSCode' = schools.'CDSCode' WHERE schools.'School Name' = 'Kacey Gibson' AND schools.'Low Grade' = 5 AND schools.'High Grade' = 17 AND frpm.'Student Type' = 'Student';"},
   {'query_result': '([(None,)], 2.3667002096772194e-05)',
    'is_correct': False,
    'feedback': "The query did not return the expected result. There seems to be a syntax error in the query, and the filtering conditions might not be correctly applied. Also, the field 'Student Type' should be checked for the value 'Student' instead of 'Student'.",
    'updated_query': "SELECT AVG(`FRPM Count (Ages 5-17)`) FROM california_schools WHERE `County` = 'Kacey Gibson County' AND `School` = 'Kacey Gibson School' AND `Student Type` = 'Student' AND `Age` BETWEEN 5 AND 17;"},
   {'Natural Language Prompt/ Original Question': 'What is the free rate for students between the ages of 5 and 17 at the school run by Kacey Gibson?',
    'Syntactically Incorrect SQL Query': "SELECT free_rate FROM schools WHERE age BETWEEN 5 AND 17 AND School Name = 'Kacey Gibson';",
    'Error Message': 'Error executing query: no such column: schools.Column name: School Name',
    'Error Position': "The error is in the WHERE clause where 'School Name' is used without proper syntax.",
    'Specific Error': "Using 'School Name' as a column name without backticks or double quotes.",
    'Advise': "Enclose the column name 'School Name' in backticks or double quotes in the WHERE clause to specify it as a column properly. For example, WHERE age BETWEEN 5 AND 17 AND `School Name` = 'Kacey Gibson';"}],
  [],
  [{'query_result': "([('Fairview Middle', '93926-0238')], 0.003595457994379103)",
    'is_correct': True,
    'feedback': "No changes needed. The query accurately retrieves the schools and their mailing zip codes under Avetik Atoian's administration.",
    'updated_query': None}],
  [{'query_result': '([(0,)], 0.004584750015055761)',
    'is_correct': False,
    'feedback': "The query did not return the expected result. There might be issues with the date format in the 'OpenDate' field and the use of double quotes instead of single quotes for column names. Additionally, the 'FundingType' condition may need to be adjusted to capture all directly funded schools.",
    'updated_query': "SELECT COUNT(*) FROM schools WHERE OpenDate BETWEEN '2000-01-01' AND '2005-12-31' AND County = 'Stanislaus' AND FundingType LIKE '%Directly Funded%';"},
   {'query_result': '([(0,)], 0.005266624997602776)',
    'is_correct': False,
    'feedback': "The query did not return any results, indicating there might be an issue with the filtering conditions. The 'FundingType' condition might not be correctly filtering for 'Directly Funded' schools. Additionally, the date range condition may not be inclusive of the end date. Consider revising the query to ensure accurate filtering.",
    'updated_query': "SELECT COUNT(*) FROM schools WHERE OpenDate >= '2000-01-01' AND OpenDate <= '2005-12-31' AND FundingType LIKE '%Directly Funded%' AND County = 'Stanislaus';"},
   {'query_result': '([(0,)], 0.0020977499953005463)',
    'is_correct': False,
    'feedback': 'The query did not return the expected result. There might be issues with the syntax of the query, such as using double quotes for column names instead of backticks or single quotes. Additionally, the date format in the WHERE clause might not be recognized correctly. Check and correct these issues.',
    'updated_query': "SELECT COUNT(*) FROM schools WHERE `County` = 'Stanislaus' AND `OpenDate` BETWEEN '2000-01-01' AND '2005-12-31' AND `FundingType` = 'Directly Funded';"},
   {'query_result': '([(0,)], 0.0019134579924866557)',
    'is_correct': False,
    'feedback': "The query did not return any results, indicating there might be an issue with the filtering conditions. It's possible that the date format is not recognized correctly or the 'FundingType' field is not properly filtered. Consider revising the date format and the 'FundingType' filter.",
    'updated_query': "SELECT COUNT(*) FROM schools WHERE `County` = 'Stanislaus' AND `OpenDate` BETWEEN '2000-01-01' AND '2005-12-31' AND `FundingType` LIKE '%Directly Funded%';"}],
  [],
  [],
  [{'query_result': '([], 0.036941375001333654)',
    'is_correct': False,
    'feedback': "The query did not return any results, which indicates there might be issues with the syntax and filtering. The 'amount' field should be selected, and the comparison operators should be used correctly.",
    'updated_query': "SELECT amount FROM trans WHERE account_id = 3356 AND type = 'Cash Withdrawal';"},
   {'query_result': '([], 0.05028079199837521)',
    'is_correct': False,
    'feedback': "The query did not return any results, and there seems to be a syntax error in the SQL query. The field names should not be enclosed in double quotes. Also, the condition for 'type' should be 'withdrawal' instead of '-'.",
    'updated_query': "SELECT amount FROM trans WHERE type = 'withdrawal' AND account_id = 3356;"},
   {'query_result': '([], 0.051445916993543506)',
    'is_correct': False,
    'feedback': 'The query did not return any results, but there should be withdrawals in cash transactions made by the client with id 3356. The issue is with the incorrect use of double quotes around column names and values in the WHERE clause. Double quotes are not standard in SQL, use single quotes for string values. Also, ensure that the column names are correct.',
    'updated_query': "SELECT amount FROM trans WHERE type = 'withdrawal' AND operation = 'cash' AND account_id = 3356;"},
   {'query_result': '([], 0.05349287501303479)',
    'is_correct': False,
    'feedback': "The query did not return any results, but there should be withdrawals in cash transactions made by the client with id 3356. Check if the 'operation' field is correctly filtered along with 'type'.",
    'updated_query': "SELECT amount FROM trans WHERE trans.account_id = '3356' AND trans.type = 'withdrawal' AND trans.operation = 'cash' AND trans.amount < 0;"}],
  [],
  [{'query_result': '([(0,)], 0.0007738339772913605)',
    'is_correct': False,
    'feedback': "The query result shows 0 triple type bonds, which seems incorrect. The query may not be filtering the 'bond_type' correctly. Check if the 'bond_type' values are consistent in the database.",
    'updated_query': "SELECT COUNT(bond_id) FROM bond WHERE bond_strength = 'triple';"},
   {'query_result': '([(0,)], 0.0009306669817306101)',
    'is_correct': False,
    'feedback': "The query did not return the correct result. There seems to be a syntax error in the query with the double quotes around 'bond_type'. Also, the field 'bond_type' should be enclosed in single quotes instead of double quotes.",

In [7]:
import pandas as pd
run = pd.read_csv("./results/results_full_run_291124/results.csv")

run.head()

,input_texts,predicted_query,predicted_database,target_queries,is_correct
0,Among the cards with converted mana cost highe...,SELECT COUNT(*) FROM cards WHERE convertedMana...,card_games,SELECT SUM(CASE WHEN T1.power LIKE '*' OR T1.p...,0
1,Calculate the average home team goal in the 20...,SELECT AVG(home_team_goal) FROM Match WHERE se...,european_football_2,SELECT CAST(SUM(t2.home_team_goal) AS REAL) / ...,1
2,Which college do most of the members go to?,SQL\r\n\r\nSELECT college\r\nFROM major\r\nWHE...,student_club,SELECT T2.college FROM member AS T1 INNER JOIN...,0
3,Calculate the percentage of molecules containi...,SELECT (CAST(COUNT(DISTINCT(molecule_id)) AS R...,toxicology,SELECT CAST(COUNT(CASE WHEN T1.element = 'h' A...,0
4,"Provide the related post title of ""How to tell...","SELECT ""Post Title"" FROM 'thrombosis_predictio...",thrombosis_prediction,SELECT T3.Title FROM postLinks AS T1 INNER JOI...,0

In [8]:
from approach_evaluator import valid_efficiency_score

ves = valid_efficiency_score(run)

print(f"Valid Efficiency Score: {ves}")

Valid Efficiency Score: 0.2046942101312174