In [1]:
import sys
import os

from dotenv import load_dotenv

sys.path.insert(0, os.path.abspath("../src"))
print(sys.path)

load_dotenv()

['/Users/I551385/Code/Personal/LLMsAgents-TextToSQL/src', '/opt/homebrew/Cellar/python@3.12/3.12.6/Frameworks/Python.framework/Versions/3.12/lib/python312.zip', '/opt/homebrew/Cellar/python@3.12/3.12.6/Frameworks/Python.framework/Versions/3.12/lib/python3.12', '/opt/homebrew/Cellar/python@3.12/3.12.6/Frameworks/Python.framework/Versions/3.12/lib/python3.12/lib-dynload', '', '/Users/I551385/Library/Caches/pypoetry/virtualenvs/llmsagents-texttosql-bQPeKkIa-py3.12/lib/python3.12/site-packages']

True

In [2]:
import pandas as pd

df = pd.read_json("../data/dev/dev.json")

df.head()

,question_id,db_id,question,evidence,SQL,difficulty
0,0,california_schools,What is the highest eligible free rate for K-1...,Eligible free rate for K-12 = `Free Meal Count...,SELECT `Free Meal Count (K-12)` / `Enrollment ...,simple
1,1,california_schools,Please list the lowest three eligible free rat...,Eligible free rates for students aged 5-17 = `...,SELECT `Free Meal Count (Ages 5-17)` / `Enroll...,moderate
2,2,california_schools,Please list the zip code of all the charter sc...,Charter schools refers to `Charter School (Y/N...,SELECT T2.Zip FROM frpm AS T1 INNER JOIN schoo...,simple
3,3,california_schools,What is the unabbreviated mailing street addre...,,SELECT T2.MailStreet FROM frpm AS T1 INNER JOI...,simple
4,4,california_schools,Please list the phone numbers of the direct ch...,Charter schools refers to `Charter School (Y/N...,SELECT T2.Phone FROM frpm AS T1 INNER JOIN sch...,moderate

In [3]:
percentages = df["difficulty"].value_counts(normalize=True) * 100

print(percentages)

difficulty
simple         60.299870
moderate       30.247718
challenging     9.452412
Name: proportion, dtype: float64

In [4]:
sample = df.sample(100 , random_state=0)

sample_distribution = sample["difficulty"].value_counts(normalize=True) * 100

sample_distribution

difficulty
simple         63.0
moderate       30.0
challenging     7.0
Name: proportion, dtype: float64

In [5]:
from approach_evaluator import avg_execution_time
import numpy as np

sample["execution_time"] = avg_execution_time(sample["db_id"], sample["SQL"])

sample.head()

KeyboardInterrupt:

In [ ]:
os.makedirs("../sample", exist_ok=True)

sample.to_csv("../sample/dev2.csv", index=False)

### Add noisy queries

In [19]:
import random
import re


sample_for_noise = df.sample(500 , random_state=0)[100:]

# List of random words to replace string literals in SQL queries
random_words = ["apple", "banana", "cherry", "dragonfly", "elephant", "falcon", "giraffe", "horizon", "igloo"]

def replace_with_random_word():
    """Replace a word with a random one from the list."""
    return random.choice(random_words)

def replace_string_literals(query, replacement_probability=0.7):
    """Replace a random subset of string literals in SQL query with random words."""
    # Regular expression to match string literals (anything between single quotes)
    def replace_string_literal(match):
        # Decide randomly whether to replace the string literal
        if random.random() < replacement_probability:
            return f"'{replace_with_random_word()}'"
        return match.group(0)

    # Apply the replacement for each string literal in the query
    return re.sub(r"'([^']*)'", replace_string_literal, query)

# Define random error generators
def introduce_logical_error(query):
    """Introduce a logical error by flipping ASC/DESC."""
    if "DESC" in query:
        return query.replace("DESC", "ASC")
    if "ASC" in query:
        return query.replace("ASC", "DESC")
    return query

def introduce_semantic_error(query):
    """Introduce a semantic error by mismatching aggregate functions."""
    if "MAX(" in query:
        return query.replace("MAX(", "MIN(")
    if "SUM(" in query:
        return query.replace("SUM(", "AVG(")
    return query


def replace_integers_with_random(query):
    """Replace integers with random integers, avoiding table alias references."""
    
    # Regular expression to match integers, but avoid replacing those in table.column notation (e.g., T1.xyz)
    def replace_integer(match):
        # If the match is a table alias with a dot (e.g., T1.xyz), don't replace it
        if re.match(r'^[A-Za-z0-9_]+(?:\.[A-Za-z0-9_]+)$', match.group(0)):
            return match.group(0)
        # Otherwise, replace the integer with a random number
        return str(random.randint(1, 1000))

    return re.sub(r'\b\d+\b(?!\.)', replace_integer, query)

# Function to randomly corrupt SQL queries
def corrupt_query(row):
    query = row["SQL"]
    error_generators = [
        introduce_logical_error,
        replace_string_literals,
        introduce_semantic_error,
        replace_integers_with_random
    ]
    
    # Randomly choose a subset of errors to apply
    num_errors = random.randint(1, len(error_generators))
    chosen_errors = random.sample(error_generators, num_errors)
    
    # Apply chosen errors
    for error_func in chosen_errors:
        query = error_func(query)
    return query


sample_for_noise["corrupted"] = df.apply(corrupt_query, axis=1)

sample_for_noise["noised"] = sample_for_noise["SQL"] != sample_for_noise["corrupted"]

sample_for_noise["SQL"] = sample_for_noise["corrupted"]
sample_for_noise.drop(columns=["corrupted"], inplace=True)

sample_for_noise = sample_for_noise[sample_for_noise["noised"]]

In [20]:
noised_count = sample_for_noise["noised"].sum()
print(f"Number of noised queries: {noised_count}")

Number of noised queries: 288

In [21]:
from tools.database import Database

def execute_query(query, database):
    try:
        db = Database(database)
        results, _ = db.execute_query(query)
        return results
    except Exception as e:
        return False


executed_count = 0
executed_empty_count = 0
not_executed_count = 0

# List to store indexes of executed queries
executed_indexes = []

for s in sample_for_noise.itertuples():
    if s.noised:
        result = execute_query(s.SQL, s.db_id)
        if result is not False:
            if len(result) == 0:
                executed_empty_count += 1
                print(f"Query executed empty at index {s.Index}")

            else:
                executed_count += 1
                print(f"Query executed at index {s.Index}") # Store the index of executed query
                executed_indexes.append(s.Index) 
        else:
            not_executed_count += 1
            print(f"Query is not executed at index {s.Index}")

# After processing, print the results
print(f"Total executed queries: {executed_count}")
print(f"Total executed empty queries: {executed_empty_count}")
print(f"Total not executed queries: {not_executed_count}")

# Optionally, print the list of indexes of executed queries
print(f"Indexes of executed queries: {executed_indexes}")

Query executed at index 1195
Query executed at index 1205
Query executed empty at index 1434
Query executed empty at index 233
Query executed at index 1027
Query executed at index 89
Query executed empty at index 937
Query executed empty at index 1233
Query executed empty at index 271
Query executed empty at index 874
Query executed at index 82
Query executed empty at index 302
Query executed empty at index 529
Query executed at index 1084
Query executed at index 703
Query executed empty at index 445
Query executed empty at index 1332
Query executed empty at index 1520
Query executed empty at index 141
Query executed at index 161
Query executed empty at index 1030
Query executed at index 583
Query executed at index 506
Query executed at index 962
Query executed empty at index 1375
Query executed at index 1408
Query executed empty at index 794
Query is not executed at index 14
Query executed at index 725
Query executed at index 182
Query executed at index 1039
Query executed empty at index 1109
Query executed empty at index 1064
Query executed at index 743
Query executed at index 526
Query executed empty at index 4
Query executed at index 963
Query executed at index 432
Query executed at index 52
Query executed at index 361
Query executed at index 1182
Query executed at index 1476
Query executed at index 1421
Query executed empty at index 989
Query executed at index 810
Query executed empty at index 376
Query executed at index 1474
Query executed empty at index 1108
Query executed empty at index 654
Query executed at index 191
Query executed at index 219
Query executed empty at index 456
Query executed at index 1018
Query executed empty at index 253
Query executed at index 308
Query executed empty at index 501
Query executed at index 997
Query executed at index 1283
Query executed at index 1147
Query executed at index 5
Query executed empty at index 315
Query executed at index 877
Query executed at index 22
Query executed at index 459
Query executed at index 983
Query executed at index 1142
Query executed empty at index 1125
Query executed at index 977
Query executed at index 1137
Query executed empty at index 980
Query executed empty at index 1428
Query executed empty at index 581
Query executed at index 1246
Query executed at index 1498
Query executed empty at index 1183
Query executed at index 27
Query executed at index 1310
Query executed at index 897
Query executed empty at index 513
Query executed at index 760
Query executed at index 672
Query executed at index 278
Query executed empty at index 379
Query executed at index 1076
Query executed at index 1273
Query executed at index 254
Query executed empty at index 2
Query executed empty at index 326
Query executed empty at index 85
Query executed at index 107
Query executed empty at index 722
Query executed at index 674
Query executed empty at index 148
Query executed at index 558
Query executed empty at index 946
Query executed at index 420
Query executed at index 438
Query executed at index 171
Query executed empty at index 1188
Query executed empty at index 45
Query executed at index 1416
Query executed at index 19
Query executed at index 665
Query executed empty at index 992
Query executed empty at index 178
Query executed empty at index 1017
Query executed at index 839
Query is not executed at index 1
Query executed at index 726
Query executed at index 1266
Query executed empty at index 1322
Query executed empty at index 933
Query executed at index 1360
Query executed at index 393
Query executed at index 1227
Query executed at index 231
Query executed at index 333
Query executed at index 55
Query executed empty at index 540
Query executed at index 446
Query executed at index 218
Query executed at index 994
Query executed empty at index 482
Query executed at index 1456
Query executed empty at index 362
Query executed at index 593
Query executed empty at index 1010
Query executed at index 1491
Query executed at index 390
Query executed at index 402
Query executed at index 793
Query executed at index 310
Query executed at index 960
Query executed at index 319
Query executed empty at index 901
Query executed empty at index 618
Query executed empty at index 1034
Query executed empty at index 1419
Query executed at index 1390
Query executed at index 740
Query executed empty at index 1418
Query executed empty at index 912
Query executed empty at index 820
Query executed at index 1489
Query executed at index 944
Query executed empty at index 565
Query executed at index 1150
Query executed at index 1021
Query executed at index 656
Query executed at index 911
Query executed at index 47
Query executed at index 1315
Query executed at index 679
Query executed at index 220
Query executed at index 1097
Query executed empty at index 657
Query executed at index 1209
Query executed at index 1222
Query executed empty at index 936
Query executed at index 1446
Query is not executed at index 77
Query executed at index 39
Query executed empty at index 461
Query executed at index 762
Query executed empty at index 322
Query executed at index 1087
Query executed at index 473
Query executed at index 1324
Query executed at index 721
Query executed empty at index 853
Query executed empty at index 1427
Query executed at index 1169
Query executed empty at index 58
Query executed at index 241
Query executed empty at index 364
Query executed at index 330
Query executed empty at index 1399
Query executed empty at index 682
Query executed at index 1526
Query executed empty at index 1088
Query executed empty at index 985
Query executed at index 942
Query executed at index 1336
Query executed at index 1264
Query executed empty at index 758
Query executed at index 958
Query executed empty at index 574
Query is not executed at index 29
Query executed empty at index 270
Query is not executed at index 35
Query executed at index 1229
Query executed empty at index 114
Query executed at index 1473
Query executed empty at index 1116
Query executed at index 198
Query executed at index 1277
Query executed at index 689
Query executed at index 1038
Query executed empty at index 871
Query executed empty at index 1025
Query executed empty at index 1335
Query executed at index 1093
Query executed at index 1280
Query executed at index 1391
Query executed at index 1358
Query executed at index 1290
Query executed at index 1274
Query executed at index 1079
Query executed empty at index 968
Query executed at index 759
Query executed at index 61
Query executed empty at index 578
Query executed empty at index 548
Query executed at index 92
Query executed empty at index 1350
Query executed at index 40
Query executed empty at index 75
Query executed at index 1321
Query executed at index 1199
Query executed at index 693
Query executed empty at index 757
Query executed at index 1530
Query executed empty at index 685
Query executed at index 186
Query executed at index 156
Query executed at index 728
Query executed empty at index 8
Query executed at index 790
Query executed empty at index 1401
Query executed at index 520
Query executed at index 805
Query executed at index 1029
Query executed at index 711
Query executed at index 1499
Query executed empty at index 1220
Query executed at index 1090
Query executed at index 1135
Query executed at index 716
Query executed at index 1050
Query executed empty at index 620
Query executed at index 1089
Query executed at index 943
Query executed empty at index 1213
Query executed at index 1174
Query executed at index 536
Query executed empty at index 970
Query executed at index 465
Query executed empty at index 1467
Query executed empty at index 243
Query executed at index 487
Query executed at index 401
Query executed at index 1308
Query executed at index 619
Query executed at index 1101
Query executed at index 1291
Query executed at index 1078
Query executed at index 1374
Query executed at index 1454
Query executed empty at index 737
Query executed empty at index 1105
Query executed at index 667
Query executed at index 259
Query executed at index 1190
Query executed empty at index 861
Query executed at index 1247
Query executed empty at index 906
Query executed at index 251
Query executed empty at index 411
Query executed at index 557
Query executed empty at index 884
Query executed empty at index 519
Query executed at index 426
Query executed empty at index 1230
Query executed at index 567
Query executed at index 729
Query executed at index 1359
Query executed at index 733
Query executed at index 1279
Query executed empty at index 899
Query executed at index 829
Query executed at index 1340
Query executed empty at index 580
Query executed empty at index 1168
Query executed at index 969
Query executed empty at index 1448
Query executed at index 1475
Query executed empty at index 431
Query executed empty at index 194
Total executed queries: 176
Total executed empty queries: 107
Total not executed queries: 5
Indexes of executed queries: [1195, 1205, 1027, 89, 82, 1084, 703, 161, 583, 506, 962, 1408, 725, 182, 1039, 743, 526, 963, 432, 52, 361, 1182, 1476, 1421, 810, 1474, 191, 219, 1018, 308, 997, 1283, 1147, 5, 877, 22, 459, 983, 1142, 977, 1137, 1246, 1498, 27, 1310, 897, 760, 672, 278, 1076, 1273, 254, 107, 674, 558, 420, 438, 171, 1416, 19, 665, 839, 726, 1266, 1360, 393, 1227, 231, 333, 55, 446, 218, 994, 1456, 593, 1491, 390, 402, 793, 310, 960, 319, 1390, 740, 1489, 944, 1150, 1021, 656, 911, 47, 1315, 679, 220, 1097, 1209, 1222, 1446, 39, 762, 1087, 473, 1324, 721, 1169, 241, 330, 1526, 942, 1336, 1264, 958, 1229, 1473, 198, 1277, 689, 1038, 1093, 1280, 1391, 1358, 1290, 1274, 1079, 759, 61, 92, 40, 1321, 1199, 693, 1530, 186, 156, 728, 790, 520, 805, 1029, 711, 1499, 1090, 1135, 716, 1050, 1089, 943, 1174, 536, 465, 487, 401, 1308, 619, 1101, 1291, 1078, 1374, 1454, 667, 259, 1190, 1247, 251, 557, 426, 567, 729, 1359, 733, 1279, 829, 1340, 969, 1475]

In [23]:
sample["noised"] = False

sampled_indexes = random.sample(executed_indexes, min(100, len(executed_indexes)))


random_noisy_sample = sample_for_noise.loc[sampled_indexes]

random_noisy_sample.to_csv("../sample/dev_only_noisy.csv", index=False)

combined = pd.concat([sample, random_noisy_sample])

combined = combined.sample(frac=1).reset_index(drop=True)
combined.to_csv("../sample/dev_noisy.csv", index=False)

len(combined)

200