In [6]:
import sys

from dotenv import load_dotenv

sys.path.insert(0, os.path.abspath("../src"))
print(sys.path)

load_dotenv()

['/Users/yannikhahn/Code/LLMsAgents-TextToSQL/src', '/Users/yannikhahn/Code/LLMsAgents-TextToSQL/src', '/Users/yannikhahn/Code/LLMsAgents-TextToSQL/evaluation/src', '/opt/homebrew/Cellar/python@3.12/3.12.6/Frameworks/Python.framework/Versions/3.12/lib/python312.zip', '/opt/homebrew/Cellar/python@3.12/3.12.6/Frameworks/Python.framework/Versions/3.12/lib/python3.12', '/opt/homebrew/Cellar/python@3.12/3.12.6/Frameworks/Python.framework/Versions/3.12/lib/python3.12/lib-dynload', '', '/Users/yannikhahn/Library/Caches/pypoetry/virtualenvs/llmsagents-texttosql-JgGAmzxu-py3.12/lib/python3.12/site-packages']

True

In [ ]:
import pandas as pd

df = pd.read_json("../data/spider/test.json")

df.head()
df.rename(columns={"query": "SQL"}, inplace=True)
df["question_id"] = df.index

In [8]:
sample = df.sample(100 , random_state=0)

In [9]:
from approach_evaluator import avg_execution_time

sample["execution_time"] = avg_execution_time(sample["db_id"], sample["SQL"])

sample.head()

,db_id,SQL,query_toks,query_toks_no_value,question,question_toks,sql,query_id,execution_time
1859,planet_1,"SELECT POSITION FROM Employee WHERE Name = ""...","[SELECT, POSITION, FROM, Employee, WHERE, Name...","[select, position, from, employee, where, name...",What is the position of Amy Wong?,"[What, is, the, position, of, Amy, Wong, ?]","{'from': {'table_units': [['table_unit', 0]], ...",1859,0.000006
1659,institution_sports,SELECT T1.Nickname FROM championship AS T1 JOI...,"[SELECT, T1.Nickname, FROM, championship, AS, ...","[select, t1, ., nickname, from, championship, ...",What is the nickname of the institution with t...,"[What, is, the, nickname, of, the, institution...","{'from': {'table_units': [['table_unit', 1], [...",1659,0.000008
477,cre_Students_Information_Systems,"SELECT datetime_detention_start , datetime_de...","[SELECT, datetime_detention_start, ,, datetime...","[select, datetime_detention_start, ,, datetime...",Show the detention start time and end time of ...,"[Show, the, detention, start, time, and, end, ...","{'from': {'table_units': [['table_unit', 13]],...",477,0.000015
259,customers_and_orders,SELECT product_name FROM Products WHERE produc...,"[SELECT, product_name, FROM, Products, WHERE, ...","[select, product_name, from, products, where, ...",Show all hardware type products in ascending o...,"[Show, all, hardware, type, products, in, asce...","{'from': {'table_units': [['table_unit', 0]], ...",259,0.000009
1708,warehouse_1,SELECT sum(T1.value) FROM boxes AS T1 JOIN war...,"[SELECT, sum, (, T1.value, ), FROM, boxes, AS,...","[select, sum, (, t1, ., value, ), from, boxes,...",What is the total value of boxes located in Ch...,"[What, is, the, total, value, of, boxes, locat...","{'from': {'table_units': [['table_unit', 1], [...",1708,0.000006

In [10]:
os.makedirs("../sample", exist_ok=True)

sample.to_csv("../sample/spider.csv", index=False)