# Evaluation of Single Agent with Langchain Toolkit

In [1]:
import os
import sys

sys.path.append("/Users/I549593/Documents/Coding/MMDS/LLMsAgents-TextToSQL/src")
sys.path.append("/Users/I549593/Documents/Coding/MMDS/LLMsAgents-TextToSQL/src/agents")
sys.path.append("/Users/I549593/Documents/Coding/MMDS/LLMsAgents-TextToSQL/src/tools")

from dotenv import load_dotenv
from langchain_agent_test import SQLAgent
from database import Database

load_dotenv(override=True)

True

In [2]:
db = Database(name="california_schools")

agent = SQLAgent(db)

sql_answer = agent.generate_query("Please list the zip code of all the charter schools in Fresno County Office of Education.")
print(sql_answer)

SELECT Zip FROM schools WHERE County = 'Fresno' AND Charter = 1

In [3]:
db.execute_query(sql_answer)

([('93726-5309',),
  ('93662',),
  ('93628-9602',),
  ('93706-2611',),
  ('93726-5208',),
  ('93706-2819',),
  ('93609-9710',),
  ('93611-0581',),
  ('93612',),
  ('93705-2611',),
  ('93705-1611',),
  ('93728-3714',),
  ('93727-1510',),
  ('93740',),
  ('93721',),
  ('93704-5240',),
  ('93721-1611',),
  ('93704-4459',),
  ('93721-1104',),
  ('93706-3117',),
  ('93726-6906',),
  ('93726',),
  ('93726-5712',),
  (None,),
  ('93706-3719',),
  ('93701',),
  ('93726',),
  ('93706',),
  ('94111',),
  ('95376',),
  ('93631-1000',),
  ('93631-1701',),
  ('93631',),
  ('93631-2044',),
  ('93631-2100',),
  ('93631-1826',),
  ('93631-1000',),
  ('93631-1701',),
  (None,),
  ('93621',),
  ('93654-2017',),
  ('93706-5615',),
  ('93065-1800',),
  ('91361-6004',),
  ('93726-5309',),
  ('93727-1611',),
  ('93648-2034',),
  ('93727-4641',),
  ('93657-2780',),
  ('93611-4646',),
  ('93657-2711',),
  ('95223',),
  ('92201',),
  ('93706-9042',),
  ('93726-5318',),
  ('93721-1115',),
  ('93624-0398',),
  ('93740-8010',),
  ('93706',),
  ('93706',)],
 0.005804125015856698)

In [4]:
original_query = "SELECT T2.Zip FROM frpm AS T1 INNER JOIN schools AS T2 ON T1.CDSCode = T2.CDSCode WHERE T1.`District Name` = 'Fresno County Office of Education' AND T1.`Charter School (Y/N)` = 1"
db.execute_query(original_query)

([('93726-5309',),
  ('93628-9602',),
  ('93706-2611',),
  ('93726-5208',),
  ('93706-2819',)],
 0.01101329197990708)

In [5]:
import pandas as pd

sample = pd.read_csv("../sample/dev.csv")

sample.head()

,question_id,db_id,question,evidence,SQL,difficulty,execution_time
0,479,card_games,Among the cards with converted mana cost highe...,card set Coldsnap refers to name = 'Coldsnap';...,SELECT SUM(CASE WHEN T1.power LIKE '*' OR T1.p...,moderate,0.018624
1,1057,european_football_2,Calculate the average home team goal in the 20...,average home team goal = AVG(home_team_goal)= ...,SELECT CAST(SUM(t2.home_team_goal) AS REAL) / ...,moderate,0.014645
2,1367,student_club,Which college do most of the members go to?,college most members go refers to MAX(COUNT(ma...,SELECT T2.college FROM member AS T1 INNER JOIN...,simple,0.000023
3,298,toxicology,Calculate the percentage of molecules containi...,hydrogen refers to element = 'h'; label = '+' ...,SELECT CAST(COUNT(CASE WHEN T1.element = 'h' A...,moderate,0.001884
4,651,codebase_community,"Provide the related post title of ""How to tell...",NaN,SELECT T3.Title FROM postLinks AS T1 INNER JOI...,simple,0.013158

In [6]:
import re

def validate_query(query: str) -> bool:
    """
    Validate the SQL query for potential issues.
    Returns True if valid, False otherwise.
    """
    # Example regex for basic validation (add more rules if needed)
    invalid_tokens = [r"\\", r";--", r"--", r"\/\*", r"\*\/"]
    for token in invalid_tokens:
        if re.search(token, query):
            return False
    return True

In [7]:
import pandas as pd
from tqdm.notebook import tqdm
import os

model_name = "baseline"
model_type = "gpt-3.5-turbo"

# Create directory for saving evaluation results
os.makedirs(f"./runs/{model_name}", exist_ok=True)

# Initialize evaluation results
try:
    # If there is an ongoing run, load it to resume
    ongoing_run = pd.read_csv(f"./runs/{model_name}/{model_type}.csv").to_dict(orient="records")
    evaluation = ongoing_run
except FileNotFoundError:
    evaluation = []

# Initialize counters
total = len(sample)
correct = 0

for row in tqdm(
    sample.itertuples(index=False),
    total=total,
    desc=f"Evaluating {model_name}:",
):
    question = row.question
    ground_truth_query = row.SQL
    db_id = row.db_id
    difficulty = row.difficulty
    question_id = row.question_id

    print(f"Evaluating Question ID {question_id}...")

    # Initialize database and agent
    db = Database(name=db_id)
    agent = SQLAgent(db)

    # Generate query using the agent
    generated_query = agent.generate_query(question)

    if generated_query is None:
        print(f"Failed to generate query for Question: {question}")
        evaluation.append(
            {
                "question_id": question_id,
                "database": db_id,
                "is_correct": False,
                "difficulty": difficulty,
                "generated_query": None,
                "feedback": "Query generation failed",
            }
        )
        continue

    # Validate and execute the generated query
    if not validate_query(generated_query):
        print(f"Invalid query detected: {generated_query}")
        evaluation.append(
            {
                "question_id": question_id,
                "database": db_id,
                "is_correct": False,
                "difficulty": difficulty,
                "generated_query": generated_query,
                "feedback": "Invalid query generated",
            }
        )
        continue

    try:
        # Execute ground truth and generated queries
        ground_truth_results, execution_time = db.execute_query(ground_truth_query)
        generated_results, execution_time = db.execute_query(generated_query)

        # Compare the results
        is_correct = ground_truth_results == generated_results

        evaluation.append(
            {
                "question_id": question_id,
                "database": db_id,
                "is_correct": is_correct,
                "difficulty": difficulty,
                "generated_query": generated_query,
                "ground_truth_results": ground_truth_results,
                "generated_results": generated_results,
                "feedback": "Query executed successfully" if is_correct else "Query results mismatch",
                "execution_time": execution_time,
            }
        )

        if is_correct:
            correct += 1
            print(f"Correct for Question ID {question_id}")
        else:
            print(f"Incorrect for Question ID {question_id}")

    except Exception as e:
        print(f"Error executing query: {e}")
        evaluation.append(
            {
                "question_id": question_id,
                "database": db_id,
                "is_correct": False,
                "difficulty": difficulty,
                "generated_query": generated_query,
                "feedback": f"Error executing query: {e}",
                "execution_time": None,
            }
        )

# Save results to CSV
df = pd.DataFrame(evaluation)
df.to_csv(f"./runs/{model_name}/{model_type}.csv", index=False)

# Calculate and log execution accuracy
execution_accuracy = (correct / total) * 100
print(f"Execution Accuracy (EX): {execution_accuracy:.2f}%")

Evaluating baseline::   0%|          | 0/100 [00:00<?, ?it/s]

Evaluating Question ID 479...
Incorrect for Question ID 479
Evaluating Question ID 1057...
Error generating response: Error code: 400 - {'error': {'message': "Invalid 'messages[4].tool_calls[0].function.name': string does not match pattern. Expected a string that matches the pattern '^[a-zA-Z0-9_-]+$'.", 'type': 'invalid_request_error', 'param': 'messages[4].tool_calls[0].function.name', 'code': 'invalid_value'}}
Failed to generate query for Question: Calculate the average home team goal in the 2010/2011 season in the country of Poland.
Evaluating Question ID 1367...
Incorrect for Question ID 1367
Evaluating Question ID 298...
Error executing query: near "SELECT": syntax error
Evaluating Question ID 651...
Incorrect for Question ID 651
Evaluating Question ID 1145...
Error generating response: Error code: 400 - {'error': {'message': "Invalid 'messages[6].tool_calls[0].function.name': string does not match pattern. Expected a string that matches the pattern '^[a-zA-Z0-9_-]+$'.", 'type': 'invalid_request_error', 'param': 'messages[6].tool_calls[0].function.name', 'code': 'invalid_value'}}
Failed to generate query for Question: Which top 4 leagues had the most games in the 2015-2016 season?
Evaluating Question ID 1165...
Incorrect for Question ID 1165
Evaluating Question ID 494...
Incorrect for Question ID 494
Evaluating Question ID 1126...
Incorrect for Question ID 1126
Evaluating Question ID 1292...
Incorrect for Question ID 1292
Evaluating Question ID 9...
Correct for Question ID 9
Evaluating Question ID 152...
Error generating response: Error code: 400 - {'error': {'message': "Invalid 'messages[6].tool_calls[0].function.name': string does not match pattern. Expected a string that matches the pattern '^[a-zA-Z0-9_-]+$'.", 'type': 'invalid_request_error', 'param': 'messages[6].tool_calls[0].function.name', 'code': 'invalid_value'}}
Failed to generate query for Question: What is the average number of crimes committed in 1995 in regions where the number exceeds 4000 and the region has accounts that are opened starting from the year 1997?
Evaluating Question ID 1254...
Error generating response: Error code: 400 - {'error': {'message': "Invalid 'messages[4].tool_calls[0].function.name': string does not match pattern. Expected a string that matches the pattern '^[a-zA-Z0-9_-]+$'.", 'type': 'invalid_request_error', 'param': 'messages[4].tool_calls[0].function.name', 'code': 'invalid_value'}}
Failed to generate query for Question: How many patients with a normal Ig A level came to the hospital after 1990/1/1?
Evaluating Question ID 609...
Correct for Question ID 609
Evaluating Question ID 823...
Incorrect for Question ID 823
Evaluating Question ID 467...
Incorrect for Question ID 467
Evaluating Question ID 489...
Correct for Question ID 489
Evaluating Question ID 1133...
Correct for Question ID 1133
Evaluating Question ID 535...
Incorrect for Question ID 535
Evaluating Question ID 1019...
Correct for Question ID 1019
Evaluating Question ID 1154...
Incorrect for Question ID 1154
Evaluating Question ID 54...
Correct for Question ID 54
Evaluating Question ID 53...
Incorrect for Question ID 53
Evaluating Question ID 34...
Incorrect for Question ID 34
Evaluating Question ID 904...
Correct for Question ID 904
Evaluating Question ID 542...
Error executing query: no such column: owner_user_id
Evaluating Question ID 1341...
Incorrect for Question ID 1341
Evaluating Question ID 279...
Incorrect for Question ID 279
Evaluating Question ID 491...
Correct for Question ID 491
Evaluating Question ID 1314...
Incorrect for Question ID 1314
Evaluating Question ID 1161...
Error generating response: Error code: 400 - {'error': {'message': "Invalid 'messages[4].tool_calls[0].function.name': string does not match pattern. Expected a string that matches the pattern '^[a-zA-Z0-9_-]+$'.", 'type': 'invalid_request_error', 'param': 'messages[4].tool_calls[0].function.name', 'code': 'invalid_value'}}
Failed to generate query for Question: For in-patient age 50 and above, what is their average anti-cardiolipin antibody (IgG) concentration?
Evaluating Question ID 268...
Incorrect for Question ID 268
Evaluating Question ID 841...
Incorrect for Question ID 841
Evaluating Question ID 1102...
Incorrect for Question ID 1102
Evaluating Question ID 847...
Incorrect for Question ID 847
Evaluating Question ID 1300...
Incorrect for Question ID 1300
Evaluating Question ID 1120...
Incorrect for Question ID 1120
Evaluating Question ID 1441...
Incorrect for Question ID 1441
Evaluating Question ID 920...
Correct for Question ID 920
Evaluating Question ID 648...
Correct for Question ID 648
Evaluating Question ID 113...
Incorrect for Question ID 113
Evaluating Question ID 686...
Incorrect for Question ID 686
Evaluating Question ID 1405...
Correct for Question ID 1405
Evaluating Question ID 883...
Incorrect for Question ID 883
Evaluating Question ID 789...
Correct for Question ID 789
Evaluating Question ID 347...
Error generating response: Error code: 400 - {'error': {'message': "Invalid 'messages[6].tool_calls[0].function.name': string does not match pattern. Expected a string that matches the pattern '^[a-zA-Z0-9_-]+$'.", 'type': 'invalid_request_error', 'param': 'messages[6].tool_calls[0].function.name', 'code': 'invalid_value'}}
Failed to generate query for Question: Find all cards illustrated by Stephen Daniel and describe the text of the ruling of these cards. State if these cards have missing or degraded properties and values.
Evaluating Question ID 1211...
Incorrect for Question ID 1211
Evaluating Question ID 1115...
Incorrect for Question ID 1115
Evaluating Question ID 1045...
Incorrect for Question ID 1045
Evaluating Question ID 227...
Incorrect for Question ID 227
Evaluating Question ID 1379...
Incorrect for Question ID 1379
Evaluating Question ID 717...
Correct for Question ID 717
Evaluating Question ID 1495...
Incorrect for Question ID 1495
Evaluating Question ID 1131...
Incorrect for Question ID 1131
Evaluating Question ID 1124...
Incorrect for Question ID 1124
Evaluating Question ID 692...
Incorrect for Question ID 692
Evaluating Question ID 1459...
Correct for Question ID 1459
Evaluating Question ID 452...
Error generating response: Error code: 429 - {'error': {'message': 'Request too large for gpt-3.5-turbo in organization org-5Wt4z3jciUey64Tufbu5Ye7i on tokens per min (TPM): Limit 200000, Requested 305835. The input or output tokens must be reduced in order to run successfully. Visit https://platform.openai.com/account/rate-limits to learn more.', 'type': 'tokens', 'param': None, 'code': 'rate_limit_exceeded'}}
Failed to generate query for Question: Please list the names of the cards that have a text box.
Evaluating Question ID 916...
Correct for Question ID 916
Evaluating Question ID 66...
Correct for Question ID 66
Evaluating Question ID 442...
Incorrect for Question ID 442
Evaluating Question ID 427...
Incorrect for Question ID 427
Evaluating Question ID 1044...
Incorrect for Question ID 1044
Evaluating Question ID 549...
Error generating response: Error code: 400 - {'error': {'message': "This model's maximum context length is 16385 tokens. However, your messages resulted in 111712 tokens (111396 in the messages, 316 in the functions). Please reduce the length of the messages or functions.", 'type': 'invalid_request_error', 'param': 'messages', 'code': 'context_length_exceeded'}}
Failed to generate query for Question: From which post is the tag "bayesian" excerpted from? Please give the body of the post.
Evaluating Question ID 1386...
Incorrect for Question ID 1386
Evaluating Question ID 938...
Incorrect for Question ID 938
Evaluating Question ID 1357...
Incorrect for Question ID 1357
Evaluating Question ID 477...
SQL query not found in the response.
Failed to generate query for Question: Which of these artists have designed a card in the set Coldsnap, Jeremy Jarvis, Aaron Miller or Chippy?
Evaluating Question ID 713...
Incorrect for Question ID 713
Evaluating Question ID 1458...
Incorrect for Question ID 1458
Evaluating Question ID 784...
Error generating response: Error code: 400 - {'error': {'message': "Invalid 'messages[4].tool_calls[0].function.name': string does not match pattern. Expected a string that matches the pattern '^[a-zA-Z0-9_-]+$'.", 'type': 'invalid_request_error', 'param': 'messages[4].tool_calls[0].function.name', 'code': 'invalid_value'}}
Failed to generate query for Question: Provide the full names of vampire heroes.
Evaluating Question ID 342...
Incorrect for Question ID 342
Evaluating Question ID 204...
Correct for Question ID 204
Evaluating Question ID 458...
Incorrect for Question ID 458
Evaluating Question ID 615...
Incorrect for Question ID 615
Evaluating Question ID 295...
Incorrect for Question ID 295
Evaluating Question ID 414...
Error generating response: Error code: 400 - {'error': {'message': "Invalid 'messages[4].tool_calls[0].function.name': string does not match pattern. Expected a string that matches the pattern '^[a-zA-Z0-9_-]+$'.", 'type': 'invalid_request_error', 'param': 'messages[4].tool_calls[0].function.name', 'code': 'invalid_value'}}
Failed to generate query for Question: What language is the set of 180 cards that belongs to the Ravnica block translated into?
Evaluating Question ID 1236...
Incorrect for Question ID 1236
Evaluating Question ID 935...
Correct for Question ID 935
Evaluating Question ID 776...
SQL query not found in the response.
Failed to generate query for Question: Provide the hero name and race of Charles Chandler.
Evaluating Question ID 817...
Incorrect for Question ID 817
Evaluating Question ID 353...
Incorrect for Question ID 353
Evaluating Question ID 1062...
Correct for Question ID 1062
Evaluating Question ID 1501...
Incorrect for Question ID 1501
Evaluating Question ID 159...
Incorrect for Question ID 159
Evaluating Question ID 435...
Error generating response: Error code: 400 - {'error': {'message': "This model's maximum context length is 16385 tokens. However, your messages resulted in 200969 tokens (200653 in the messages, 316 in the functions). Please reduce the length of the messages or functions.", 'type': 'invalid_request_error', 'param': 'messages', 'code': 'context_length_exceeded'}}
Failed to generate query for Question: How many card border with black color ? List out the card id.
Evaluating Question ID 892...
Incorrect for Question ID 892
Evaluating Question ID 748...
Incorrect for Question ID 748
Evaluating Question ID 192...
Invalid query detected: SELECT AVG(l.amount) AS average_loan_amount
FROM loan l
WHERE l.status = 'A'
AND EXISTS (
    SELECT 1
    FROM trans t
    WHERE t.operation = 'VYDAJ' -- Statement issuance operation
    AND t.date > l.date
)
Evaluating Question ID 678...
Incorrect for Question ID 678
Evaluating Question ID 1224...
Incorrect for Question ID 1224
Evaluating Question ID 1177...
SQL query not found in the response.
Failed to generate query for Question: Was the total cholesterol status for the patient id 2927464 on 1995-9-4 at the normal level?
Evaluating Question ID 31...
SQL query not found in the response.
Failed to generate query for Question: What is the eligible free rate of the 10th and 11th schools with the highest enrolment for students in grades 1 through 12?
Evaluating Question ID 512...
Incorrect for Question ID 512
Evaluating Question ID 202...
Incorrect for Question ID 202
Evaluating Question ID 1226...
Incorrect for Question ID 1226
Evaluating Question ID 893...
Incorrect for Question ID 893
Evaluating Question ID 579...
Incorrect for Question ID 579
Evaluating Question ID 879...
Incorrect for Question ID 879
Evaluating Question ID 948...
Incorrect for Question ID 948
Execution Accuracy (EX): 19.00%

In [5]:
from approach_evaluator import valid_efficiency_score
import pandas as pd

run = pd.read_csv("./runs/baseline/gpt-4o.csv")

execution_accuracy = (run["is_correct"].sum() / len(run))

ves = valid_efficiency_score(run)

print(f"Execution Accuracy: {execution_accuracy}")
print(f"Valid Efficiency Score: {ves}")

Execution Accuracy: 0.47
Valid Efficiency Score: 0.5450057110898118

In [6]:
from approach_evaluator import valid_efficiency_score
import pandas as pd

run = pd.read_csv("./runs/baseline/mistral.csv")

execution_accuracy = (run["is_correct"].sum() / len(run))

ves = valid_efficiency_score(run)

print(f"Execution Accuracy: {execution_accuracy}")
print(f"Valid Efficiency Score: {ves}")

Execution Accuracy: 0.02
Valid Efficiency Score: 0.020083619968678787

In [7]:
from approach_evaluator import valid_efficiency_score
import pandas as pd

run = pd.read_csv("./runs/baseline/gpt-3.5-turbo.csv")

execution_accuracy = (run["is_correct"].sum() / len(run))

ves = valid_efficiency_score(run)

print(f"Execution Accuracy: {execution_accuracy}")
print(f"Valid Efficiency Score: {ves}")

Execution Accuracy: 0.19
Valid Efficiency Score: 0.25380862821780026