In [1]:
import sys
sys.path.insert(0, os.path.abspath('../src'))
print(sys.path)

['/home/yannik/coding-native/LLMsAgents-TextToSQL/src', '/home/linuxbrew/.linuxbrew/Cellar/python@3.13/3.13.0_1/lib/python313.zip', '/home/linuxbrew/.linuxbrew/Cellar/python@3.13/3.13.0_1/lib/python3.13', '/home/linuxbrew/.linuxbrew/Cellar/python@3.13/3.13.0_1/lib/python3.13/lib-dynload', '', '/home/yannik/.cache/pypoetry/virtualenvs/llmsagents-texttosql-L08Ttfzn-py3.13/lib/python3.13/site-packages']

In [2]:
import pandas as pd

data = pd.read_json('../data/dev/dev.json')

data.head()

,question_id,db_id,question,evidence,SQL,difficulty
0,0,california_schools,What is the highest eligible free rate for K-1...,Eligible free rate for K-12 = `Free Meal Count...,SELECT `Free Meal Count (K-12)` / `Enrollment ...,simple
1,1,california_schools,Please list the lowest three eligible free rat...,Eligible free rates for students aged 5-17 = `...,SELECT `Free Meal Count (Ages 5-17)` / `Enroll...,moderate
2,2,california_schools,Please list the zip code of all the charter sc...,Charter schools refers to `Charter School (Y/N...,SELECT T2.Zip FROM frpm AS T1 INNER JOIN schoo...,simple
3,3,california_schools,What is the unabbreviated mailing street addre...,,SELECT T2.MailStreet FROM frpm AS T1 INNER JOI...,simple
4,4,california_schools,Please list the phone numbers of the direct ch...,Charter schools refers to `Charter School (Y/N...,SELECT T2.Phone FROM frpm AS T1 INNER JOIN sch...,moderate

In [ ]:
from agents.feedback_agent import FeedbackAgent


agent = FeedbackAgent(Olla)