# Evaluation of Multi-Agent approach using an orchestrator

In [3]:
import sys
import os
sys.path.append("/Users/i551965/Documents/dev/Uni/LLMsAgents/LLMsAgents-TextToSQL/src/")
sys.path.append("/Users/i551965/Documents/dev/Uni/LLMsAgents/LLMsAgents-TextToSQL/src/agents")
sys.path.append("/Users/i551965/Documents/dev/Uni/LLMsAgents/LLMsAgents-TextToSQL/src/prompt_templates")
from approach_evaluator import ApproachEvaluator
from orchestrator_agent import create_sql_from_natural_text, visualize_graph
visualize_graph()

In [4]:
import pandas as pd

data_dir = os.getenv("DATA_DIRECTORY")
sql_input_file = pd.read_json(os.path.join(data_dir, "dev.json")).sample(1)

evaluator = ApproachEvaluator(
    approach=create_sql_from_natural_text,
    input_texts=sql_input_file["question"],
    target_queries=sql_input_file["SQL"]
)
evaluator.evaluate()

Orchestrator Agent: Failed to decode JSON response: Expecting value: line 1 column 1 (char 0),
            raw Response: ,
            processed Response:
Fixer Agent: JSON Parser failed : Expecting ',' delimiter: line 2 column 66 (char 67)
Orchestrator Agent: Failed to decode JSON response: Expecting value: line 1 column 1 (char 0),
            raw Response:

I'm sorry, I cannot generate output without proper input.,
            processed Response:
Fixer Agent: JSON Parser failed : Expecting ',' delimiter: line 2 column 66 (char 67)
Orchestrator Agent: Failed to decode JSON response: Expecting value: line 1 column 1 (char 0),
            raw Response: ,
            processed Response:
Fixer Agent: JSON Parser failed : Expecting ',' delimiter: line 2 column 66 (char 67)
Stopping condition reached: Maximum iterations exceeded
Error comparing query results: no such table: expense
Target query: SELECT SUM(T3.cost) FROM event AS T1 INNER JOIN budget AS T2 ON T1.event_id = T2.link_to_event INNER JOIN expense AS T3 ON T2.budget_id = T3.link_to_budget WHERE T1.event_name = 'Yearly Kickoff'
Predicted query: SELECT SUM(expense) FROM expense WHERE event = 'Yearly Kickoff';

0.0